<div class="todo-list">
    <form class="todo-form" ng-submit="$ctrl.addTodo()">
        <input type="text"
               ng-model="$ctrl.todoText"
               ng-change="$ctrl.clearError()"
               placeholder="✍️ What needs to be done?"
               ng-class="{'input-error': $ctrl.errorMessage}"
               autofocus>
        <button class="btn-add" type="submit">+ Add</button>
    </form>
    <div class="error-message" ng-if="$ctrl.errorMessage">
        ⚠️ {{$ctrl.errorMessage}}
    </div>

    <ul class="todo-items">
        <li class="todo-item" ng-repeat="item in $ctrl.todos track by item.id">
            <input class="todo-checkbox"
                   type="checkbox"
                   ng-checked="item.done"
                   ng-click="$ctrl.toggle(item)">
            <span class="todo-text"
                  ng-class="{'done': item.done}">{{item.text}}</span>
            <button class="btn-delete"
                    ng-click="$ctrl.remove(item)">✕ Delete</button>
        </li>
    </ul>

    <div class="empty-state" ng-if="$ctrl.todos.length === 0">
        <span class="emoji">🎉</span>
        <p>All done! Nothing to do.</p>
    </div>

    <div class="status-bar" ng-if="$ctrl.todos.length > 0">
        <span>{{$ctrl.remaining()}} of {{$ctrl.todos.length}} remaining</span>
        <a href="" ng-click="$ctrl.archive()" ng-if="$ctrl.remaining() < $ctrl.todos.length">Archive done</a>
    </div>
</div>
