body {
    font-family: sans-serif;
    padding: 20px;
}
.done-true {
    text-decoration: line-through;
    color: grey;
}
.container {
  max-width: 600px; 
  margin: 0 auto;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    padding: 5px 0;
}
